{% load task_tags %}

<div class="task-list">
  <div class="task-list-tabs">
    <!-- unibeautify:disable -->
    {% with statuses='TODO WIP DONE' %}
    {% for status in statuses.split %}
      <a href="{{ request.path }}?status={{ status|lower }}">{{ status|upper }}</a>
    {% endfor %}
    {% endwith %}
  </div>
  <div class="task-list-container">
    {% for task in tasks %}
      <div>
        <div class="card">
          <a href="{% url 'tasks:edit' pk=task.id %}">{{ task.name }}</a>
          <div>
            <!-- unibeautify:disable -->
            {% include "components/molecules/tag_list.html" with tags=task|task_tags only %}
            <!-- unibeautify:enable -->
          </div>
          {% if task.detail %}
            <p>{{ task.detail }}</p>
          {% else %}
            <p class="secondary-text">No description.</p>
          {% endif %}
          <a href="{% url 'tasks:new-subtask' parent_id=task.id %}">SPLIT</a>
          <a href="{% url 'tasks:delete' pk=task.id %}">DELETE</a>
        </div>
      </div>
      {% empty %}
      <div>
        <p>No tasks</p>
      </div>
    {% endfor %}
  </div>
</div>
